:root {
    --main-title-color: #FFFFFF;
    --second-title-color: #212121;
    --third-title-color: #2196F3;
    --fourth-title-color: #000000;
    --text-color: #757575;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --main-background-color: #FFFFFF;
    --second-background-color: #2F303A;
    --third-background-color: #F5F4FA;
    --main-icon-color: #AFB1B8;
    --main-accent-color: #2196F3;
}