.devices {
    padding-top: 0px;
}

.devices__list {
    display: flex;
    justify-content: space-between;

}

.devices__top-wrap {
    position: relative;
}

.devices__top-text {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    text-align: center;
    color: var(--main-title-color);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
}