.footer-container {
    display: flex;
}

.footer-wrap {
    display: flex;
    align-items: baseline;
}

.footer-info {
    min-width: 231px;
    margin-right: 70px;
}

.logo-footer-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--third-title-color);
}

.logo-footer-studio {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.info {
    background-color: var(--second-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.address {
    margin-top: 20px;
}

.info-address {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 9px;
}

.info-email {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
    margin-bottom: 9px;
    &:hover, :focus {
        color: var(--third-title-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.info-tel {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
    &:hover, :focus {
        color: var(--third-title-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.social-footer {
    margin-right: 93px;
}

.social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.social-list {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    &:hover, :focus{
         background-color: var(--third-title-color);
         transition-duration: 250ms;
         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.footer-soc-icon {
    fill: var(--main-background-color);
}

.sub-wrap {
    display: flex;
    align-items: baseline;
    gap: 12px;
}

.subscription-title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.subscription-input {
    width: 358px;
    height: 50px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--main-title-color);
    background-color: var(--second-background-color);
}

.subscription-button {
    color: var(--main-title-color);
    background-color: var(--third-title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color;
}

.send-icon {
    fill: var(--main-background-color);
    margin-left: 5px;
}